body{
	margin:10px 50px;
	font-family: Helvetica, Arial, sans-serif;
}

ul{padding:0;}
li{list-style: none;}
img{width:100%;}

h1{
	font-weight: normal;
	text-transform: uppercase;
	margin: 10px;
}
h2{
	font-weight: normal;
	margin: 10px;
}

.colonne{
	display: inline-block;
	vertical-align: top;
}

.data-2{
	width:46%;
}

.data-3{
	width:33%;
}

.guardian li{
	border-top: 1px solid #000;
	padding: 30px;
}

